
/* -------------------------------- VARIABLES ------------------------------- */

:root {
    --red: hsl(0, 100%, 68%);
    --very-dark-blue:  hsl(230, 29%, 20%);
    --dark-gray-blue: hsl(230, 11%, 40%);
    --gray-blue: hsl(231, 7%, 65%);
    --light-gray-blue: hsl(207, 33%, 95%);
}

/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------ BASIC STYLING ----------------------------- */

body {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    background-size: 10px 30px;
    background-position: top right;
    overflow-x: hidden;

}

h1,h2,a {
    font-family: 'Barlow Condensed', sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

img {
    display: block;
    width: 100%;
}

/* ---------------------------------- UTILS --------------------------------- */

.bg {
    background: var(--light-gray-blue);
    width: 50%;
    height: 50vh;
    position: fixed;
    z-index: -3;
    right: 0;
    border-bottom-left-radius:40px ;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin:auto;
    padding: 40px 0;
}

/* ---------------------------------- NAV --------------------------------- */
nav {
    /* padding: 2rem 10rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    align-items: baseline;
    
}

.navbar li {
    margin-right: 40px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar .login {
    position: relative;
    margin-left: 80px;
    margin-right: 0;
}

.navbar .login a {
    color: var(--gray-blue);

}

.navbar .login::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
    background: var(--gray-blue);
}



.hamburger {
    display: none;
    background: none;
    border: none;
    outline: none;
}

#close-icon, #open-icon {
    width: 25px;
    /* display: none; */
    cursor: pointer;
}


/* ---------------------------------- MAIN ---------------------------------- */
main {
    margin-top: 150px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex: 1;
}

main .heading {
    width: 100%;
}

main h2 {
    text-transform: uppercase;
    color: var(--gray-blue);
    letter-spacing: 4px;
    font-size: 0.95rem;
    font-weight: 400;
}

main span {
    display: inline-block;
    color: white;
    background-color: black;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 12px;
    letter-spacing: initial;
    /* width: 10%; */
    text-align: center;
}

main h1 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size:3.8rem;
    line-height: 1;
}

main p{
    width: 50%;
    margin-top: 30px;
    color: var(--dark-gray-blue);
}

main .links {
    margin-top: 60px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-size: 1rem;
    
    
}

main .btn {
    color: white;
    background-color: var(--red);
    padding: 10px 30px;
    margin-right: 15px;
    border-radius: 5px;
}

main .btn:hover {
    opacity: 0.8;
}

main .preview {
    color: var(--gray-blue);
    letter-spacing: 3px;
}

main .illustration {
    position: relative;
    left: 50px;
    /* width: 150%; */
}

main .illustration img {
    width: 140%;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1225px) {
    .container {
        max-width: 900px;
    }

    main h1 {
        font-size: 3rem;
    }

    main .illustration {
        left: 50px;
    }
}

@media screen and (max-width: 920px) {
    .container {
        max-width: 700px;
    }

    main p {
        width: 100%;
    }

    main .links {
        width: 130%;
    }

    main .illustration {
        left: 100px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 23px;
    }
    .bg {
        height: 68vh;
    }
    .container {
        max-width: 400px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 60px);
        margin: 0 30px;
        align-items: center;
        background-color: white;
        z-index: 60000;
        text-align: center;
        padding: 15px;
        box-shadow: -4px 3px 22px -7px rgba(0,0,0,0.56);
        border-radius: 5px;
        margin-left: 0;
    }

    .active .navbar {
        display: flex;
    }

    .navbar li {
        margin-top: 20px;
        margin-right: initial;
    }

    .hamburger {
        display: flex;
        margin-right: 30px;
    }

    #close-icon {
        display: none;
    }

    .active #close-icon {
        display: block;
    }

    .active #open-icon {
        display: none;
    }

    .navbar .login {
       margin-left: 0;
    }
    .navbar .login::before {
        width: 500%;
        height: 2px;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: translate(-40%, -10px);
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
    }

    main .illustration {
        left: 0px;
        margin-bottom: 70px;
    }

    main .links {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 300px;
    }

    main h1 {
        font-size: 2.5rem;
    }

    main .btn  {
        font-size: 1rem;
        width: 55%;
    }

    main .preview {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}